body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;

    h1 {
        margin: 0;
        font-size: 4em;
    }

    p {
        margin: 30px 15px 0;
        font-size: 1.5em;
        background-color: #555;
        padding: 5px;
    }
}

nav ul {
    list-style: none;
    padding: 20px;
        background-color: #333;
        text-align: center;
        color: white;
        width: 20%;
        float: right;
        border: none;
}
nav ul li {
    display: inline-block;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: small;
}

nav ul li a:hover {
    text-decoration: underline;
}

.inicio {
    background-color: #333;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;

    h2 {
        margin: 0;
        font-size: 2em;
        color: white;
        text-align: left;
    }

    p {
        margin: 10px 0 0;
        font-size: 1.2em;
        color: whitesmoke;
    }

    button {
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 1em;
        background-color: #555;
        color: white;
        border: none;
        cursor: pointer;
    }
}

.sobre {
    background-color: #333;
    padding: 20px;
    margin-bottom: 50px;

    h2 {
        margin: 0 10px 0 10px;
        font-size: 2em;
        color: white;
        text-align: center;
    }

    p {
        margin: 10px 0 0;
        font-size: 1.2em;
        color: whitesmoke;
    }

    div a {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 400px;
    }

    div ul {
        list-style: disc;
        padding: 10px 20px 0 40px;
        justify-content: left;
        gap: 20px;
    }

    div ul li {
        font-size: 1em;
        color: lightseagreen;
    }
}

.projetos {
    background-color: #333;
    padding: 20px;
    margin-bottom: 50px;

    h2 {
        margin: 10px 10px 0 10px;
        font-size: 2em;
        color: white;
        text-align: center;
    }

    div{
        background-color: #555;
        padding: 20px;
        margin-top: 20px;
        color: white;
    }

    .card {
        background-color: #555;
        padding: 15px;
        margin-bottom: 30px;
        border-radius: 5px;
        h3 {
            font-size: 22px;
            margin-bottom: 10px;
        }
        p {
            font-size: 16px;
            line-height: 1.6;
        }

        a {
            display: inline-block;
            margin-top: 10px;
            color: #fff;
            text-decoration: none;
            border: 1px solid #333;
            padding: 5px 10px;
            border-radius: 5px;
    }}
}

.contato {
    background-color: #333;
    padding: 20px;
    margin-bottom: 50px;

    h2 {
        margin: 10px 10px 0 10px;
        font-size: 2em;
        color: white;
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    form input, form textarea {
        width: 70%;
        max-width: 400px;
        padding: 10px;
        border: none;
        border-radius: 5px;
    }
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
    p {
        margin: 0;
    }
}